<launch>
  <node pkg="robot_localization" type="ekf_localization_node" name="ekf_se" clear_params="true">
    <rosparam command="load" file="$(find apriltag_localization)/config/ekf_config.yaml" />

    <!--  Placeholder for output topic remapping
    <remap from="odometry/filtered" to=""/>
    <remap from="accel/filtered" to=""/>
    -->

  </node>

  <node pkg="apriltag_localization" type="publish_filtered_odom.py" name="filtered_odom_publisher">
  </node>
</launch>
